{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Animaux
{% endblock %}

{% block body %}
    <section class="objet-liste">
        {% for animal in animaux %}
            <article>
                <a href="{{ path('annonceAnimal_details', {'id' : animal.id}) }}" title="Détail de l'annonce">
                    Titre : {{ animal.name }}
                    <br>
                    Image : <img src="{{ asset('img/animal/' ~ animal.photo) }}" alt="{{ animal.name }}" class="objet-liste">
                </a>
                <br>
            </article>
        {% endfor %}
    </section>

{% endblock %}
