{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }} | Page de tests
{% endblock %}


{% block body %}

    <h1>Page des tests de codage</h1>

{# Récupération et affichage d'une variable obtenue dans le MainController #}
    <div>
        Récupération du titre, année passé en variable dans le controller : {{ mySerie.titre}}, {{ mySerie.année }}
    </div>

<br>
{# Creation et usage d'une variable définie dans le fichier#}
    <div>
        {% set name = "Thomas" %}
        <h2>{{ name}}</h2>
    </div>

<br>
{# Creation et usage d'un tableau #}
    {% set colors = ["orange", "brown", "turquoise", "blue"] %}

    <div>Nombre de data dans le tableau "colors" : {{ colors |length  }}</div>
    <div>Contenu du tableau "colors": {{ colors | join(' / ') }}</div>


        {% for color in colors %}
            <div style="background-color: {{ color }}">{{ loop.index }} - {{ color }}</div>
        {% endfor %}

<br>
{# Gestion des objets #}
    {% set book =
        {
        titre: "Pif et Hercule",
        annee: 2010,
        autheur: "Leonardo"
        }
    %}

    <div>
        Titre du livre dans la boucle : {{ book.titre }}
        <br>
        {#  Boucle dans le contenu du tableau "book"#}
        {% for key, val in book %}
        <div>
            {{ key }} : {{ val }}
        </div>

        {% endfor %}
    </div>


<br>
{# Filtre date #}

<div>Date actuelle : {{ "now" | date('Y') }}</div>
<div>Date année actuelle + 1 an : {{ "+1 years" | date('Y') }}</div>

{% endblock %}