{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Liste des annonces
{% endblock %}

{% block body %}

    <section class="objet-liste">
        {% for personne in personnes %}
            <article>
                <a href="{{ path('annoncePersonne_details', {'id' : personne.id}) }}" title="Détail de l'annonce">
                    Titre : {{ personne.name }}
                    <br>
                    Image : <img src="{{ asset('img/personne/' ~ personne.photo) }}" alt="{{ personne.name }}" class="objet-liste">
                </a>
                <br>
            </article>
        {% endfor %}
    </section>

{% endblock %}