<nav>
    <ul class="nav nav-pills nav-justified self-">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> Consulter les annonces</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('annonceObjet_list') }}" title="Listes des objets perdus">Liste des objets</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('annonceAnimal_list') }}" title="Listes des animaux perdus">Liste des animaux</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('annoncePersonne_list') }}" title="Liste des personnes disparues">Disparition inquiétante</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="https://www.116000enfantsdisparus.fr/avis-de-recherche.html"
                       title="Disparitions de mineur en cours" target="_blank">Disparitions de mineur en cours</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Créer une annonce</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ path('annonceObjet_creation') }}">J'ai perdu / trouvé un objet ?</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('annonceAnimal_creation') }}">J'ai perdu / trouvé un animal ?</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('annoncePersonne_creation') }}">Disparition inquiétante d'un proche ?</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_creation') }}" title="Connexion / inscription">Connexion / Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('main_test') }}" title="Page de test">Test</a>
        </li>
        <li><img src="{{ asset('img/trad.png') }}" alt="Traduire le site" class="flagTranslate"></li>
    </ul>
</nav>