{% extends 'base.html.twig' %}

{% block title %}
{{objet.name}} | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>{{ objet.name}}</h2>
    <br>
    <div>{{ objet.name }}</div>
    <div>{{ objet.date }}</div>
    <div>{{ objet.lieu }}</div>
    <div>{{ objet.photo }}</div>
{% endblock %}
