{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{objet.name}}
{% endblock %}

{% block body %}
    <h2>Titre : {{ objet.name}}</h2>
    <br>
    <div>----------</div>
    <div>
        <button type="button" class="btn btn-outline-secondary">
            <a href="{{ path('annonceObjet_edition', {'id' : objet.id}) }}">
                Modifier ?
            </a>
        </button>
        /
        <button type="button" class="btn btn-outline-danger">
                <a href="javascript:void(0)"
                   onclick="if
                           (confirm ('Vous êtes sur de vouloir supprimer cette annonce ?') )
                   {
                       window.location='{{ path('annonceObjet_suppression', {'id': objet.id }) }}';
                   }">
                    Supprimer ?
                </a>
        </button>

    </div>
    <div>----------</div>
    <br>
    <div>Date : {{ objet.date|date('d-m-Y')}}</div>
    <div>Adresse : {{ objet.lieu }}</div>
    <div>Photo : <img src="{{ asset('img/objet/' ~ objet.photo) }}" alt="{{ objet.name }}" class="miniature"></div>
    <div>Commentaire : {{ objet.commentaire }}</div>


{% endblock %}
