{% extends 'base.html.twig' %}

{% block title %}
    Liste des annonces | {{ parent() }}
{% endblock %}

{% block body %}

    <section class="objet-liste">
        {% for objet in objets %}
            <article>
                <a href="{{ path('annonceObjet_details', {'id' : objet.id}) }}" title="Détail de l'annonce">
                    Titre : {{ objet.name }}
                    <br>
                    Image : <img src="{{ asset('img/objet/' ~ objet.photo) }}" alt="{{ objet.name }}" class="objet-liste">
                </a>
                <br>
            </article>
        {% endfor %}
    </section>

{% endblock %}